Web References/Four51Group/Group.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://four51.com/services/group" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://four51.com/services/group" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://four51.com/services/group">
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyerInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyerInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsReportingGroup" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType />
      </s:element>
      <s:element name="AssignAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyerCompanyInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupInteropID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AddressAssignment" type="tns:AddressAssignment" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddressAssignment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressInteropID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseForShipping" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UseForBilling" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AssignAddressResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="AssignAddressSoapIn">
    <wsdl:part name="parameters" element="tns:AssignAddress" />
  </wsdl:message>
  <wsdl:message name="AssignAddressSoapOut">
    <wsdl:part name="parameters" element="tns:AssignAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="GroupSoap">
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignAddress">
      <wsdl:input message="tns:AssignAddressSoapIn" />
      <wsdl:output message="tns:AssignAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GroupSoap" type="tns:GroupSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://four51.com/services/group/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://four51.com/services/group/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAddress">
      <soap:operation soapAction="http://four51.com/services/group/AssignAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GroupSoap12" type="tns:GroupSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://four51.com/services/group/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://four51.com/services/group/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAddress">
      <soap12:operation soapAction="http://four51.com/services/group/AssignAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Group">
    <wsdl:port name="GroupSoap" binding="tns:GroupSoap">
      <soap:address location="http://www.four51.com/services/Group.asmx" />
    </wsdl:port>
    <wsdl:port name="GroupSoap12" binding="tns:GroupSoap12">
      <soap12:address location="http://www.four51.com/services/Group.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>