Web References/Four51PurchaseOrder/PurchaseOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://four51.com/services/purchaseorder" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://four51.com/services/purchaseorder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://four51.com/services/purchaseorder">
      <s:element name="UpdatePOLineItemUnitPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LineItemUnitPrices" type="tns:ArrayOfLineItemUnitPrice" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLineItemUnitPrice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineItemUnitPrice" type="tns:LineItemUnitPrice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineItemUnitPrice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PayloadID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LockLineItem" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LineNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdatePOLineItemUnitPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePOLineItemUnitPriceResult" type="tns:ArrayOfErrorReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfErrorReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorReport" type="tns:ErrorReport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InteropID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdatePOLineItemUnitPriceSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePOLineItemUnitPrice" />
  </wsdl:message>
  <wsdl:message name="UpdatePOLineItemUnitPriceSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePOLineItemUnitPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="PurchaseOrderSoap">
    <wsdl:operation name="UpdatePOLineItemUnitPrice">
      <wsdl:input message="tns:UpdatePOLineItemUnitPriceSoapIn" />
      <wsdl:output message="tns:UpdatePOLineItemUnitPriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PurchaseOrderSoap" type="tns:PurchaseOrderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePOLineItemUnitPrice">
      <soap:operation soapAction="http://four51.com/services/purchaseorder/UpdatePOLineItemUnitPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PurchaseOrderSoap12" type="tns:PurchaseOrderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePOLineItemUnitPrice">
      <soap12:operation soapAction="http://four51.com/services/purchaseorder/UpdatePOLineItemUnitPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseOrder">
    <wsdl:port name="PurchaseOrderSoap" binding="tns:PurchaseOrderSoap">
      <soap:address location="http://www.four51.com/services/PurchaseOrder.asmx" />
    </wsdl:port>
    <wsdl:port name="PurchaseOrderSoap12" binding="tns:PurchaseOrderSoap12">
      <soap12:address location="http://www.four51.com/services/PurchaseOrder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>