Web References/Four51User/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://four51.com/services/user" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://four51.com/services/user" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://four51.com/services/user">
      <s:element name="SyncAssociations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Associations" type="tns:ArrayOfUserAssociation" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserAssociation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserAssociation" type="tns:UserAssociation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserAssociation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserInteropID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CostCenterInteropIDs" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupInteropIDs" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="tns:ArrayOfAddressAssignment" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderFields" type="tns:ArrayOfOrderFieldAssignment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddressAssignment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AddressAssignment" type="tns:AddressAssignment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressAssignment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressInteropID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseForShipping" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UseForBilling" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderFieldAssignment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderFieldAssignment" type="tns:OrderFieldAssignment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderFieldAssignment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OptionInteropIDs" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="SyncAssociationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncAssociationsResult" type="tns:ArrayOfErrorReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfErrorReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorReport" type="tns:ErrorReport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InteropID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Users" type="tns:ArrayOfUserProperties" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserProperties">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserProperties" type="tns:UserProperties" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserProperties">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserInteropID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyInteropID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TermsAccepted" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveResult" type="tns:ArrayOfErrorReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignToGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveFromGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFromGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="AssignAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInteropID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AddressAssignment" type="tns:AddressAssignment" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignAddressResponse">
        <s:complexType />
      </s:element>
      <s:element name="AssignCostCenter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CostCenterInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignCostCenterResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInteropIDs" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="tns:ArrayOfErrorReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SyncAssociationsSoapIn">
    <wsdl:part name="parameters" element="tns:SyncAssociations" />
  </wsdl:message>
  <wsdl:message name="SyncAssociationsSoapOut">
    <wsdl:part name="parameters" element="tns:SyncAssociationsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="AssignToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AssignToGroup" />
  </wsdl:message>
  <wsdl:message name="AssignToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AssignToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveFromGroupSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveFromGroup" />
  </wsdl:message>
  <wsdl:message name="RemoveFromGroupSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AssignAddressSoapIn">
    <wsdl:part name="parameters" element="tns:AssignAddress" />
  </wsdl:message>
  <wsdl:message name="AssignAddressSoapOut">
    <wsdl:part name="parameters" element="tns:AssignAddressResponse" />
  </wsdl:message>
  <wsdl:message name="AssignCostCenterSoapIn">
    <wsdl:part name="parameters" element="tns:AssignCostCenter" />
  </wsdl:message>
  <wsdl:message name="AssignCostCenterSoapOut">
    <wsdl:part name="parameters" element="tns:AssignCostCenterResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="UserSoap">
    <wsdl:operation name="SyncAssociations">
      <wsdl:input message="tns:SyncAssociationsSoapIn" />
      <wsdl:output message="tns:SyncAssociationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignToGroup">
      <wsdl:input message="tns:AssignToGroupSoapIn" />
      <wsdl:output message="tns:AssignToGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromGroup">
      <wsdl:input message="tns:RemoveFromGroupSoapIn" />
      <wsdl:output message="tns:RemoveFromGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignAddress">
      <wsdl:input message="tns:AssignAddressSoapIn" />
      <wsdl:output message="tns:AssignAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignCostCenter">
      <wsdl:input message="tns:AssignCostCenterSoapIn" />
      <wsdl:output message="tns:AssignCostCenterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserSoap" type="tns:UserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncAssociations">
      <soap:operation soapAction="http://four51.com/services/user/SyncAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://four51.com/services/user/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignToGroup">
      <soap:operation soapAction="http://four51.com/services/user/AssignToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromGroup">
      <soap:operation soapAction="http://four51.com/services/user/RemoveFromGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAddress">
      <soap:operation soapAction="http://four51.com/services/user/AssignAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignCostCenter">
      <soap:operation soapAction="http://four51.com/services/user/AssignCostCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://four51.com/services/user/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserSoap12" type="tns:UserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncAssociations">
      <soap12:operation soapAction="http://four51.com/services/user/SyncAssociations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://four51.com/services/user/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignToGroup">
      <soap12:operation soapAction="http://four51.com/services/user/AssignToGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromGroup">
      <soap12:operation soapAction="http://four51.com/services/user/RemoveFromGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAddress">
      <soap12:operation soapAction="http://four51.com/services/user/AssignAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignCostCenter">
      <soap12:operation soapAction="http://four51.com/services/user/AssignCostCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://four51.com/services/user/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="UserSoap" binding="tns:UserSoap">
      <soap:address location="http://www.four51.com/services/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserSoap12" binding="tns:UserSoap12">
      <soap12:address location="http://www.four51.com/services/User.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>