Web References/Four51SpendingAccount/SpendingAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://four51.com/services/SpendingAccount" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://four51.com/services/SpendingAccount" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://four51.com/services/SpendingAccount">
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Label" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SpendingAccountTypeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserInteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupInteropID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InteropID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddToBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InteropID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="SharedSecret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToBalanceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="AddToBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:AddToBalance" />
  </wsdl:message>
  <wsdl:message name="AddToBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:AddToBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="SpendingAccountSoap">
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToBalance">
      <wsdl:input message="tns:AddToBalanceSoapIn" />
      <wsdl:output message="tns:AddToBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SpendingAccountSoap" type="tns:SpendingAccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://four51.com/services/SpendingAccount/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://four51.com/services/SpendingAccount/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToBalance">
      <soap:operation soapAction="http://four51.com/services/SpendingAccount/AddToBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SpendingAccountSoap12" type="tns:SpendingAccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://four51.com/services/SpendingAccount/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://four51.com/services/SpendingAccount/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToBalance">
      <soap12:operation soapAction="http://four51.com/services/SpendingAccount/AddToBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpendingAccount">
    <wsdl:port name="SpendingAccountSoap" binding="tns:SpendingAccountSoap">
      <soap:address location="http://www.four51.com/services/SpendingAccount.asmx" />
    </wsdl:port>
    <wsdl:port name="SpendingAccountSoap12" binding="tns:SpendingAccountSoap12">
      <soap12:address location="http://www.four51.com/services/SpendingAccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>